[Unit]
Description=router
Requires=systemd-networkd.service
After=systemd-networkd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=systemd-cat /etc/router/service up
ExecStop=systemd-cat /etc/router/service down 

[Install]
WantedBy=multi-user.target


